body{
        background: url("https://c0.wallpaperflare.com/preview/346/959/717/lcd-soundsystem-iphone-x.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
 
  }
  #main{
  text-align: center;
  background-color: gray;
  color: white;
  border: teal;
  border-width: 20px;
  border-radius:10px ;
  }
  .container2{
    color: white;
    text-align: center; 
    font-weight: bolder; 
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
  }
 #band{
  background-image: linear-gradient(to left, violet,yellow, indigo, orange, blue); -webkit-background-clip: text;
  color: transparent;
 }